body {
    font-family: Arial, sans-serif;
    background-color: rgb(7, 103, 134);
}

.filter-buttons {
    text-align: center;
    margin: 20px 0;
}

.filter-buttons button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 200px; /* Set a fixed height for consistency */
    object-fit: cover; /* Ensure images fit within the specified width and height */
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 10px;
}

.gallery img:hover {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}
